@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(35, 35, 35);
}

main {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 265px;
    height: 471px;
}

section#icones{
    display:  flex;
    flex-direction:  column;
    text-align: right;
    padding: 30px;
}

section#icones a {
    display: inline-block;
}

section#icones img{
    width: 60px;
    border-radius: 50%;
    margin: 6px;
    box-sizing: border-box;
}

section#icones img:hover {
    border: 3px solid rgb(255, 255, 255);
    transition-duration: 0.2s;
    transform: translate(-4px, -4px);
}